@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
/*initialize colors code*/
:root {
  --green: #16a085;
  --black: #444;
  --white: #ffffff;
  --red: #ff0000;
  --r1: #d43557;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--green);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #f5f5f5;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.heading span {
  text-transform: uppercase;
  color: var(--green);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: #fff;
}

.btn span {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background: var(--green);
  color: #fff;
  margin-left: 0.5rem;
}

.btn:hover {
  background: var(--green);
  color: #fff;
}

.btn:hover span {
  color: var(--green);
  background: #fff;
  margin-left: 1rem;
}

.header {
  padding: 2rem 9%;
  position: fixed;
  /*length of nav bar*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #9cc094;
  /*color for nav bar*/
}
/*word next to heart logo*/
.header .logo {
  font-size: 2.5rem;
  color: var(--black);
}
/*the heart logo in-front Make-Med*/
.header .logo i {
  color: var(--r1);
}
/*Name of each menu on nav bar*/
.header .navbar a {
  font-size: 1.8rem;
  color: var(--black);
  margin-left: 2rem; /*dis between 
each words*/
}
/*change color when click on menu*/
.header .navbar a:hover {
  color: var(--white);
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  list-style: none;
  width: 50vw;
  justify-content: end;
  margin-right: 2rem;
}

/*search and login icons*/
header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}
/*change color on icons*/
header .icons i:hover {
  color: var(--black);
}
/*search bar design*/
header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}

header .search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}
/*the magnify searching icon color*/
header .search-bar-container label:hover {
  color: var(--green);
}

#logobar img {
  width: 75px;
  margin: 10px 0px;
}
/*Login Design*/
.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.active {
  top: 0;
}
/*the entire Login box*/
.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #f7f7e8;
  width: 50rem;
}

.login-form-container form h3 {
  font-size: 3rem;
  color: #16a085;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}
/*the hover frame when enter name or password*/
.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #444;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.login-form-container form .box:focus {
  border-color: #16a085;
}

.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 1.5rem;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
}
/*color of forget and don't have acc*/
.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
}
/*color of click here and register*/
.login-form-container form p a {
  color: #16a085;
}

.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}
/*------Home Design-------*/
.home {
  /*size of display video/images*/
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content {
  text-align: center;
}
/*Video slogan*/
.home .content h3 {
  font-size: 4.5rem;
  color: #c9e4c5;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  font-size: 2.5rem;
  color: #cee5d0;
  padding: 0.5rem 0;
}

.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home .controls {
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10rem;
}
/*bar dots to switch images*/
.home .controls .vid-btn {
  height: 2rem;
  width: 2rem;
  /*put the bar in the middle of image*/
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0 0.5rem;
}
/*fill-in color dot bar tab*/
.home .controls .vid-btn.active {
  background: var(--green);
}

/*-----Services design section----*/
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
}

.services .box-container .box i {
  color: var(--green);
  font-size: 5rem;
  padding-bottom: 0.5rem;
}

.services .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.services .box-container .box p {
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}
/*-----End Services design section----*/
/*-----Begin About Us design-----*/
.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}
/*word size*/
.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.about .row .content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}
/*-----End About Us design-----*/
/* Begin blogs section design */
.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.blogs .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
}

.blogs .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding-top: 1rem;
}

.blogs .box-container .box .content .icon {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogs .box-container .box .content .icon a {
  font-size: 1.4rem;
  color: var(--light-color);
}

.blogs .box-container .box .content .icon a:hover {
  color: var(--green);
}

.blogs .box-container .box .content .icon a i {
  padding-right: 0.5rem;
  color: var(--green);
}

.blogs .box-container .box .content h3 {
  color: var(--black);
  font-size: 3rem;
}

.blogs .box-container .box .content p {
  color: var(--light-color);
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
}
/*-----End About Us design-----*/
/*-----Footer design-----*/
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}
/*words color*/
.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}
/*static dist display*/
.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--green);
}
/*how far for the words jump*/
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--light-color);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}
/*team name color*/
.footer .credit span {
  color: var(--green);
}

.list {
  list-style: none;
}
